  <aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Klart me kan!</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-sink wow bounceIn text-primary"></i>
                            <h3>Kjøkken</h3>
                            <p class="text-muted">Blandebatteri, oppvaskmaskin, kjøleskap, avløp. Har du hugsa vassensoren?</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-shower wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Bad</h3>
                            <p class="text-muted">Møblar, toalett, blandebatteri, dusj, sluk. Me kan alt om vatn på bad!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-fan wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Inneklima</h3>
                            <p class="text-muted">Varmepumper, vannboren golvvarme, ventilasjon. God dialog sikrar rett system for deg!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-toolbox wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Service 24/7</h3>
                            <p class="text-muted">Lekkasje? Mangel på varmvatn? Tett avløp? Me er tilgjenglig på telefon 24/7.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Nybygg</h3>
                            <p class="text-muted">Skal du byggja nytt bygg? Me har kompetansen til prosjektering og gjennomføring!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-tools wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Oppussing</h3>
                            <p class="text-muted">Nytt kjøkken? Nytt bad? Totalrenovering? Me hjelper til med prosjektering og gjennomføring!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
