<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ta kontakt!</h2>
                <hr class="primary">
                <p>Klar til å ta fatt på en fantastisk opplevelse med en av våre håndverkere? Gi oss et pling på telefon eller send oss en e-post da vel!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="tel:+47 40 40 36 81">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>+47 40 40 36 81</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/prororbomlo">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
    </div>
</section>
