<section class="bg-primary" id="hire_text">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Røyrleggjar søkes!</h1>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Arbeidsoppgåver</h2>
				<ul class="text-left">
					<li>VVS-installasjoner</li>
					<li>Luft/vann – væske/vann varmepumper</li>
					<li>Nybygg/service/rehabilitering</li>
				</ul>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Me kan tilby</h2>
				<ul class="text-left">
					<li>Varierte, spennande og interessante arbeidsoppgaver innan nybygg, rehabilitering og industri</li>
					<li>Løn etter avtale</li>
					<li>God pensjonsordning</li>
					<li>Firmabil og telefon</li>
					<li>Godt arbeidsmiljø</li>
					<li>Beste røyrleggjarfirmaet på Bømlo!</li>
					<li>Nødvendig opplæring og kompetanseheving</li>
					<li>Godt fagmiljø</li>
				</ul>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Dine kvalifikasjonar</h2>
				<ul class="text-left">
					<li>Røyrlegger med svennebrev</li>
					<li>Sjøvstendig</li>
					<li>Førerkort klasse B</li>
					<li>Ansvarsbesvisst, positiv og ryddig</li>
				</ul>
            </div>
        </div>
    </div>
</section>
