<section class="bg-primary" id="hire_text">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Røyrleggjar søkes!</h1>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
			<p>
				Helle AS leverer alle typer store og små røyrleggertjenester.
				Me har private og bedriftskundar, og gjennom lang tid i bransjen har me opparbeida solid og brei kunnskap. Me har dei nødvendige godkjenningar, slik at kunden kan vera trygg på profesjonelt utført arbeid.
			</p>
			</div>
		</div>
        <div class="row">
			<div class="w-100"></div>
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Arbeidsoppgåver</h2>
				<ul class="text-left">
					<li>VVS-installasjoner</li>
					<li>Luft/vann – væske/vann varmepumper</li>
					<li>Nybygg/service/rehabilitering</li>
				</ul>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Me kan tilby</h2>
				<ul class="text-left">
					<li>Varierte, spennande og interessante arbeidsoppgaver innan nybygg, rehabilitering og industri</li>
					<li>Løn etter avtale</li>
					<li>God pensjonsordning</li>
					<li>Firmabil og telefon</li>
					<li>Godt arbeidsmiljø</li>
					<li>Beste røyrleggjarfirmaet på Bømlo!</li>
					<li>Nødvendig opplæring og kompetanseheving</li>
					<li>Godt fagmiljø</li>
				</ul>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
				<h2>Dine kvalifikasjonar</h2>
				<ul class="text-left">
					<li>Røyrleggjar med svennebrev</li>
					<li>Sjøvstendig</li>
					<li>Førerkort klasse B</li>
					<li>Ansvarsbesvisst, positiv og ryddig</li>
				</ul>
            </div>
			<div class="w-100"></div>
        </div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p><b>
					Ynskjer du å vera med å vokse? Send søknad på e-post eller ring!
				</b></p>
			</div>
		</div>
    </div>
</section>
