<section class="bg-primary" id="hire_text">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Røyrleggjar søkes!</h1>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 text-center">
                 <p class="text-faded">
					 Rørleggermester og daglig leder Anders Helle tok mesterbrev i 2009 og har erfaring som rørlegger på service og anlegg, samt erfaring fra ledelse som serviceleder, faglig leder og prosjektleder
				 </p>
            </div>
            <div class="col col-md-6 text-center">
                 <p class="text-faded">
					 Rørleggermester og daglig leder Anders Helle tok mesterbrev i 2009 og har erfaring som rørlegger på service og anlegg, samt erfaring fra ledelse som serviceleder, faglig leder og prosjektleder
				 </p>
            </div>
            <div class="col col-lg-offset-2 text-center">
                 <p class="text-faded">
					 Rørleggermester og daglig leder Anders Helle tok mesterbrev i 2009 og har erfaring som rørlegger på service og anlegg, samt erfaring fra ledelse som serviceleder, faglig leder og prosjektleder
				 </p>
            </div>
        </div>
    </div>
</section>
