<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Til tjeneste!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary"></i>
                    <h3>Nøyaktighet</h3>
                    <p class="text-muted">Vi har øye for detaljer og gjør arbeidet raskt men nøye.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Punktlighet</h3>
                    <p class="text-muted">Vi kommer når vi skal og har kort responstid.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-broom wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Ryddig og rent</h3>
                    <p class="text-muted">Vi sørger for at det er rent og ryddig etter endt oppdrag.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Lidenskap</h3>
                    <p class="text-muted">Vi har lidenskap og kjærlighet for faget.</p>
                </div>
            </div>
        </div>
    </div>
</section>
